<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/darkroom.css">
</head>
<body>
<h3>Upload image</h3>
<hr>
<button class="btn btn-primary" id="uploadimage">Upload image</button>
<p id="imagepath"></p>
<hr>


<form id="createform">
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Muistiinpanon nimi</label>
    <input type="text" class="form-control" id="nimi" placeholder="Anna nimi" required>
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputPassword1">Tagit</label>
    <input type="password" class="form-control" id="tagit" placeholder="Kirjoita tageja pilkulla eroteltuina">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleSelect1">Kategoria</label>
    <select class="form-control" id="kategoria">

    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Muistiinpano</label>
    <textarea class="form-control" id="teksti" rows="5"></textarea>
  </fieldset>

  <button id="luo" class="btn btn-primary">Luo</button>
</form>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="../../js/libs/jquery-2.1.1.min.js"><\/script>');
			}
		</script>

<script>
	var dialog = require('electron').remote.dialog;
	var _ = require('lodash');
	var fs = require('fs');
	var ipcRenderer = require('electron').ipcRenderer;
	ipcRenderer.on('renderPayload', function(event, payload) {
		console.log("RENDER PAYLOAD RECEIVED");
		console.log(payload);
		payloadCached = payload;
		renderCategoryOptions(payload.tree);

	});
	ipcRenderer.on('focusnow', function() {
		console.log("Focus now order");
		setTimeout(function() {
			$('#uploadimage').focus();	
			console.warn("Focused");
		}, 0);
	});	
	var payloadCached;
	var filePath;

	var $ = window.jQuery;

	var canBeClosed = true;

	$('#luo').on('click', gatherAndSend);
	$('#createform').on('submit', gatherAndSend);

	$('#uploadimage').on('click', openUploadDialog);


	function openUploadDialog() {

		var fileNames = dialog.showOpenDialog({
			filters: [
				{
					name: 'Images',
					extensions: ['jpg', 'jpeg', 'png']
				}
			],
			properties: ['openFile']
		});

		if (fileNames && fileNames.length > 0) {
			filePath = fileNames[0];
			$('#imagepath').empty().append(filePath);
		} else {
			$('#imagepath').empty();
		}
	}

	function gatherAndSend(e) {
		if (!canBeClosed) return;
		e.preventDefault();

		var data = {
			imagepath: filePath,
			nimi: $('#nimi').val(),
			tagit: $('#tagit').val(),
			kategoria: $('#kategoria').val(),
			teksti: $('#teksti').val(),
			datatype: 'uploadimage'
		};


		// Validate + sanitize data here if needed
		// No need to generate msgID as this window is about be closed
		// so it can not receive responses back
		ipcRenderer.send('msg', {
			type: 'creationdata',
			data: data
		});

	}

	var renderCategoryOptions = function(tree) {
			var gatheringArray = [];

			var oneDepthDown = function(items, depth) {
				_.each(items, function(item) {
					var treeItem = {name: item.name, depth: depth, id: item.id};
					gatheringArray.push(treeItem);
					if (item.children || Array.isArray(item.children)) {
						// recurse
						oneDepthDown(item.children, depth + 1);
					}
				})
			}

			oneDepthDown(tree, 0);

			var totalHTML = _.reduce(gatheringArray, function(html, item) {
				var s = "<option value='" + item.id + "'>" + _.repeat('-', item.depth) + " " + item.name + "</option>";
				return html + s;
			}, '');

			$('#kategoria').empty().append(totalHTML);
	}








</script>
</body>
</html>